<!DOCTYPE html>
<html>
<head>
  <title>DigUnder</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1 class="header">DIGital UNDERholdning</h1>
  <nav class="menu">
  	<ul>
  	  <li><a href="#" class="computer" title="Spillanmeldelser"></a></li>
  	  <li><a href="#" class="video" title="Filmanmeldelser"></a></li>
  	</ul>
  </nav>
  <section class="main">
    <%= yield %>
  </section>
</body>
</html>
